<VirtualHost *:{{.Port}}>
    ServerName {{.Hostname}}
    {{- range .Aliases}}
    ServerAlias {{.}}
    {{- end}}
    DocumentRoot "{{.DocumentRoot}}"

    {{- if .SSL}}

    SSLEngine on
    SSLCertificateFile "{{.SSLCertPath}}"
    SSLCertificateKeyFile "{{.SSLKeyPath}}"
    {{- end}}

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://127.0.0.1:{{.PHPFPMPort}}"
    </FilesMatch>

    <Directory "{{.DocumentRoot}}">
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog "{{.LogDir}}/{{.Hostname}}-error.log"
    CustomLog "{{.LogDir}}/{{.Hostname}}-access.log" combined
</VirtualHost>
